# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
gradle

# other
eclipse
run
runServer

ClientIgloofAccessoryPacket.java
IAccessory.java
#TODO turn into Armor or something
EntitySantaHat.java
santa_hat.animation.json
santa_hat.geo.json
santa_hat.png
# Files from Forge MDK
forge*changelog.txt
